.profile{
    display: flex;

}
.profileRight{
    flex: 9;
}

.profileRightBottom{
    display: flex;
}

.profile {
}
.profileRight {
}
.profileRightTop {
}
.profileCover {
  height: 320px;
  position: relative;
  
}
.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.profileUserImg {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   top: 150px;
   border: 3px solid white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.profileInfo {
display: flex;
flex-direction: column;
align-items: center;

}
.profileInfoName {
    font-size: 24px;


}
.profileInfoDesc {
    font-weight:300;
    letter-spacing: 0.7px;
}
.profileRightBottom {
}


.rightbarTitle {
    font-style: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarInfo {
    margin-bottom: 30px;
}
.rightbarInfoItem {
    margin-bottom: 10px;
}
.rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}
.rightbarInfoValue {
    font-weight: 300;
}
.rightbarFollowins {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    
}
.rigthbarFollowing {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px


}
.rightbarFollowingUsername {
    font-weight: 500;
    opacity: 0.8;
}
