.rightbar{
    flex:3.5;
  
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
 
}
.birthdayImg{
    width: 40px;
    margin-right: 5px;

}
.birthdayText{
    font-weight: 400;
    font-size: 14px;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.rightbarAd{
    width: 100%;
    margin: 15px 0;
    opacity: 0.9;
    border :2px solid black;
    border-radius: 10px;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.rightbarFollowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 5px 20px;
    font-size: 18px;
    margin-bottom: 15px;
    border:none;
    outline:none;
    background-color:#1872f2;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
}
.rightbarFollowButton:hover{
    background-color: darkblue;
    transition: all 0.4s;
}

